<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= thisArt.title %></title>
	<nav>
	<a href="/wiki">Home</a>
	<a href="/article/new">Create New Article</a>
	<a href="/user/new">Create New User</a>
	</nav>
	<h1>Wikifoodies</h1>
</head>
<body>
	<h2>Editing <%= thisArt.title %></h2>
	<p> You must have a user profile to edit this article.</p>
	<form method="POST" action="/article/<%= thisArt.id %>?_method=PUT">
		<input type="hidden" name="article_id" value="<%= thisArt.id %>">
		<label>Select Your Username:</label>
		<select name="user_id">
		<% users.forEach(function(userObj){ %>
			<option value="<%= userObj.id %>"><%= userObj.name %></option>
			<% }); %>
		</select></br></br>
		<label>Content: </label><br>
		<textarea name="content" rows="30" cols="60"><%= thisArt.content %></textarea></br>
		<label>Image URL: (optional)</label><br>
		<textarea name="image" rows="3" cols="60"><%= thisArt.image %></textarea></br>
		<label>Note about this edit:</label><br>
		<textarea name="comment" rows="3" cols="60"><%= thisArt.comment %></textarea></br></br>

		<button>Submit Changes</button>
	</form>
</body>
</html>