<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet"  type="text/css" href="/style.css" >
	<% articles.forEach(function(artObj){ %>
	<title><%= artObj.title %></title>	
	
	<nav>
	<a href="/wiki">Home</a>
	<a href="/article/new">Create New Article</a>
	<a href="/user/new">Create New User</a>
	<a href="/article/<%= artObj.id %>">Back to Main Article</a>
	</nav>
	<h1>Wikifoodies</h1>
	<style>
	p {
		display: inline;
	}

	.list{
		display: inline;
	}

	.one{
		margin-left: 10px;
	}

	.two{
		margin-left: 50px;
	}

	.three{
		margin-left: 100px;
	}
	table{
		width:65%;
	}
	td {
		height: 25px;
	}
	.one{
		width:20%;
	}
	.two{
		width:20%;
	}
	.three{
		width:20%;
	}

	</style>

</head>
<body>
	<h2><%= artObj.title %></h2>
	<% }); %>
	<table>
		<tr>
			<td class="one">Usernames</td>
			<td class="two">Comments</td>
			<td class="three">Time</td>
		</tr>				
		<tr>
		<% allUsers.forEach(function(obj){ %>
			<td class="one"><a href="/user/<%= obj.user_id%>"><%= obj.name %></a></td>
			<td class="two"><%= obj.comment %></a></td>
			<td class="three"><%= obj.updated_at %></td>
		</tr>
		<% }); %>

	</table>
	
	
</body>
</html>
		