<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= info.title %></title>
	<nav>
	<a href="/wiki">Home</a>
	<a href="/article/new">Create New Article</a>
	<a href="/user/new">Create New User</a>
	</nav>
	<h1>Wikifoodies</h1>
	<style>
	img {
		height:375px;
		width: auto;
	}
	body{
		padding-left: 50px;
	}
	</style>
</head>
<body>
	<h2><%= info.title %></h2>
	<div class="author">
	<a href="/user/<%= info.id %>"><%= info.name %></a>
	</div>

	<div class="timestamp">
	<a href="/article/<%=articles.id %>/history"><%= articles.create_at %></a>
	</div>
	<img src="<%= articles.image %>">
	<p><%= articles.content %></p>

	<div class="footer">
	<a href="/subscribe">Subscribe to this article</a>
	<a href="/article/<%= articles.id %>/edit">Edit Article</a>
	<form method="POST" action="/article/<%=articles.id %>?_method=DELETE">
		<input type="checkbox" name="delete" value="delete" required>Confirm</input>
	<button>Delete Article</button>
	</form>
	</div>
</body>
</html>