<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= users.name %></title>
	<nav>
	<a href="/wiki">Home</a>
	<a href="/article/new">Create New Article</a>
	</nav>
	<h1>Wikifoodies: User Profile</h1>
</head>
<body>
	<h2><%= users.name %></h2>
	<p><%= users.email %></p>
	<p><%= users.location %></p>

		<h4>Authorships:</h4>
		<% authors.forEach(function(obj){ %>
			<a href="/article/<%= obj.id %>"><%= obj.title %></a>
		<% }); %>
	<div class="footer">
	<form method="POST" action="/user/<%= users.id %>?_method=DELETE">
		<input type="checkbox" name="delete" value="delete" required>Confirm Delete</input>
	<button>Delete Profile</button>
	</form>
	</div>
</body>
</html>
