<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet"  type="text/css" href="/style.css" >
	<title><%= users.name %></title>
	<nav>
	<a href="/wiki">Home</a>
	<a href="/article/new">Create New Article</a>
	<a href="/user/new">Create New User</a>
	<a href="/user/<%= users.id %>/edit">Edit Your Profile</a>
	</nav>
	<h1>Wikifoodies: User Profile</h1>
</head>
<body>
	<h2><%= users.name %></h2>
	<p><%= users.email %></p>
	<p><%= users.location %></p>

		<h4>Authorships:</h4>
		<% authors.forEach(function(obj){ %>
		<a href="/article/<%= obj.id %>"><%= obj.title %></a>
		<% }); %>


		<h4>Contributions:</h4>
		<% co_authors.forEach(function(coObj){ %>
		<a href="/article/<%= coObj.id %>"><%= coObj.title%></a>
		<% }); %>

		<h4>Subscriptions:</h4>
		<% subscribers.forEach(function(subObj){ %>
		<a href="/article/<%= subObj.id %>"><%= subObj.title %></a><br><br>
		<% }); %>

	<div class="footer">
	<form method="POST" action="/user/<%= users.id %>?_method=DELETE">
		<input type="checkbox" name="delete" value="delete" required>Confirm Delete</input>
	<button>Delete Profile</button>
	</form>
	</div>
</body>
</html>
