<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet"  type="text/css" href="/style.css" >
	<title><%= info.title %></title>
	<nav>
	<a href="/wiki">Home</a>
	<a href="/article/new">Create New Article</a>
	<a href="/user/new">Create New User</a>
	<a href="/article/<%= info.id %>">Go To Latest Version of This Article</a>
	</nav>
	<h1>Wikifoodies</h1>
</head>
<body>
	<h2><%= info.title %></h2><br>
	<% allVersion.forEach(function(obj){ %>
		<div id="author">
			<a href="/user/<%= co_author.id %>">By: <%= co_author.name %></a>
			<p><%= obj.updated_at %></p>
		</div>
		<img src="<%= obj.image %>">
		<p><%- obj.content %></p>
		<% }); %>
</body>
</html>